<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jolly.spider.bean.supplierProductMapper" >
<insert id="AddDataToCountry" useGeneratedKeys="false" parameterType="com.tscloud.address.domain.entity.DataUpdateEntity">

</insert>
</mapper>